@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: azure;
  font-family: "Poppins", sans-serif;
}
.img {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.background-grid {
  background-image: linear-gradient(#c8f8f9 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #c8f8f9 calc(100% - 0.5px)),
    linear-gradient(90deg, #c8f8f9 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), #c8f8f9 calc(100% - 0.5px));
  background-size: 11.11111111111111% 14.285714285714286%;
  border: 0.5px solid #c8f8f9;
  /* background-color: rgba(212, 253, 253, 0.466); */
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* gradient bg */
.glow {
  -webkit-box-shadow: 0px 0px 105px 0px rgba(45, 255, 196, 0.46);
  -moz-box-shadow: 0px 0px 105px 1px rgba(45, 255, 196, 0.46);
  box-shadow: 0px 0px 105px 1px rgba(45, 255, 196, 0.46);
}
